.intensive-button {
    background-color: #FFFFFF;
    color: #363E34;
}

.light-button {
    background-color: #FFFFFF;
    color: #363E34;
}

.text-colored {
    color: #363E34;
}

.main-body {
    border-color: #2EB57C;
    background-color: #7353A9;
}

.header {
    border-color: #363E34;
    background-color: #2EB57C;
    color: #FFFFFF;
}