.intensive-button {
    background-color: #62331E;
    color: #FFFFFF;
}

.light-button {
    background-color: #FFFFFF;
    color: #62331E;
}

.text-colored {
    color: #62331E;
}

.main-body {
    border-color: #62331E;
    background-color: #B68265;
}

.header {
    border-color: #62331E;
    background-color: #FF9B61;
    color: #62331E;
}