.intensive-button {
    background-color: #806464;
    color: #FFFFFF;
}

.light-button {
    background-color: #FFFFFF;
    color: #806464;
}

.text-colored {
    color: #103100;
}

.main-body {
    border-color: #103100;
    background-color: #DAD7CD;
}

.header {
    border-color: #103100;
    background-color: #806464;
    color: #DAD7CD;
}