.intensive-button {
    background-color: #1F2232;
    color: #FFFFFF;
}

.light-button {
    background-color: #FFFFFF;
    color: #1F2232;
}

.text-colored {
    color: #FFFFFF;
}

.main-body {
    border-color: #FF82A9;
    background-color: #1F2232;
}

.header {
    border-color: #1F2232;
    background-color: #BC9EC1;
    color: #FFFFFF;
}