.intensive-button {
    background-color: #FF82A9;
    color: #FFFFFF;
}

.light-button {
    background-color: #FFFFFF;
    color: #000000;
}

.text-colored {
    color: #7F95D1;
}

.main-body {
    border-color: #FF82A9;
    background-color: #000000;
}

.header {
    border-color: #000000;
    background-color: #7F95D1;
    color: #000000;
}