.intensive-button {
    background-color: #393131;
    color: #FFFFFF;
}

.light-button {
    background-color: #FFFFFF;
    color: #393131;
}

.text-colored {
    color: #1E1A1A;
}

.main-body {
    border-color: #1E1A1A;
    background-color: #FFFFFF;
}

.header {
    border-color: #1E1A1A;
    background-color: #1E1A1A;
    color: #FFFFFF;
}