.intensive-button {
    background-color: #FFC0EF;
    color: #FFFFFF;
}

.light-button {
    background-color: #FFFFFF;
    color: #DEAAFF;
}

.text-colored {
    color: #103100;
}

.main-body {
    border-color: #FFFFFF;
    background-color: #DEAAFF;
}

.header {
    border-color: #FFFFFF;
    background-color: #C0FDFF;
    color: #DEAAFF;
}