.intensive-button {
    background-color: #FFFFFF;
    color: #232727;
}

.light-button {
    background-color: #FFFFFF;
    color: #232727;
}

.text-colored {
    color: #232727;
}

.main-body {
    border-color: #FFFFFF;
    background-color: #F9D7E2;
}

.header {
    border-color: #FFFFFF;
    background-color: #E7A9B1;
    color: #232727;
}