.intensive-button {
    background-color: #D8E2DC;
    color: #849089;
}

.light-button {
    background-color: #FFFFFF;
    color: #849089;
}

.text-colored {
    color: #849089;
}

.main-body {
    border-color: #FFFFFF;
    background-color: #FFE7E2;
}

.header {
    border-color: #FFFFFF;
    background-color: #FEC5BB;
    color: #FFFFFF;
}